body {
    font-family: sans-serif;
    width: 800 px;
    margin: 0 auto;
    padding: 10px;
}

.error {
    color:red;
}


label {
    display: block;
    font-size: 20px;

}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 500px;
    height: 200px;
    font-size: 15px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 50px;
}

hr {
    margin: 20px auto;
}

.note + .note {
    margin-top: 30px;
}

.note-created {
    font-size: 15px;
}

.note-title {
    font-weight: bold;
    font-size: 30px;
}

.note-body {
    margin: 0;
    font-size: 17px;
}
