{% extends 'base.html' %}


{% block body %}
    <h1> w-rite </h1>
    <p>Hi, {{name}} </p>
    <form method="post">
        <label>
            <div>Title</div> 
            <input type="text" name="title" value="{{title}}">
        </label>

        <label>
            <div>Note</div>
            <textarea name="note">{{note}}</textarea>
        </label>

        <div class="error"> {{error}} </div>

        <input type="submit">
    </form>
    <br>
    <a href="{{logout}}">logout</a>

    <hr>

    {% for note in notes%}
    <div class="note">
        <div class="note-created">{{note.created.strftime('%c')}}</div>
        <div class="note-title">{{note.title}}</div>
        <pre class="note-body">{{note.note}}</pre>
    </div>
    {% endfor %}

{% endblock %}
